<!DOCTYPE html>
<html>
<head>
	<title>Django</title>
</head>
<body>
<link href="css/bootstrap.css" rel="stylesheet">

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/back/">IT-tracker</a>
    <ul class="nav">
      <li class="active"><a href="/back/">На главную</a></li>
      {% if username %}
      <li><a href="/auth/logout/">Exit  ({{ username }})</a></li>
      {% else %}
      <li><a href="/auth/login/">Log In</a></li>
      {% endif %}
    </ul>
  </div>
</div>

<h1>Мой блог</h1>
{% block article %}{% endblock %}
{% block login %}{% endblock %}
</body>
</html>