{% load staticfiles %}
{% load news_tags %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IT-tracker</title>

    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/style.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/font-awesome.css' %}" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="padding-left: 35px; margin-top: -3px; width:100%">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
				<span class="sr-only">Открыть навигацию</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" style="margin-top: 12px;" href="/">IT-TRACKER</a>
            </div>
			<div class="collapse navbar-collapse" id="responsive-menu">
				<ul class="nav navbar-nav">
					<li><a href="#" style="margin-top: 12px;"><p align="center">ПРОФИЛИ</p></a></li>
					<li><a href="/addnews/" style="margin-top: 12px;"><p align="center">ПРОЕКТЫ</p></a></li>
					<li><a href="/list_news/" style="margin-top: 12px;"><p align="center">РАБОТОДАТЕЛИ</p></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-top: 12px;">ПОЛУЧИТЬ РЕЙТИНГ<b class="caret"></b></a> <ul class="dropdown-menu">
							<li><a href="#">1111</a></li>
							<li><a href="#">2111</a></li>
							<li><a href="#">3333</a></li>
							<li class="divider"></li>
							<li><a href="#">4444</a></li>
						</ul>
					</li>
					<!---{% if user.is_autentificated %}
					<li><a href="{% url 'Profile' user.id %}">Мой профиль</a></li>
					{% endif %}-->
				</ul>
				 <ul class="navbar-form navbar-right">
					{% if user.is_autentificated %}
					<li><a href="/auth/logout/">Выйти ({{ user.username }})</a></li>
					{% else %}
					<form action="" class="navbar-form navbar-right">
						<a href="#login" type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-1"><i class="fa fa-sign-in"></i>ВОЙТИ</a>
						<a href="#" class="btn btn-link" style="color: #FFFFFF;"><i class="fa fa-search"></i></a>
				 		
					</form>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
    <div class="container">
        <div class="row">
            {% block sheet %}{% last_sheets %}{% endblock %}
        </div>
    </div>
    <div class="col-sm-6">
        {% block loginsys %}{% endblock %}
    </div>
 <div class="modal fade" id="modal-1">
 	<div class="modal-dialog modal-lg" style="width:20%">
 		<div class="modal-content">
 			<div class="modal-header">
 			 	<button class="close" type="button" data-dismiss="modal">&times;</button>
 				<h4 class="modal-title" text align="center">Авторизация</h4>
 			</div>
 			<div class="modal-body">
 				<div class="form-group">
						<input type="text" class="form-control" placeholder="E-mail" style=" width: 65%; margin-left:20%" value="" id="username">	
				</div>
				<div class="form-group">
						<input type="password" class="form-control" placeholder="Password" style="width: 65%; margin-left:20%" value="" id="password">
				</div>
				{% if login_error %}
			    <label class="error">{{ login_error }}</label>
			    {% endif %}

 			</div>
 			<div class="modal-footer">
				<button type="submit" style="margin-right:-22%" class="btn btn-warning">
					<i class="fa fa-sign-in"></i>Войти
				</button>
 				<button class="btn btn-danger" style="margin-left:25%" type="button" data-dismiss="modal">Закрыть</button>
 			</div>
 		</div>
 	</div>
 </div>

</body>
</html> 
