{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Clean Sheet</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/style.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/font-awesome.css' %}" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
  </head>
  <body>
  <!---Навигация bootstrap-->
	<div class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
				<span class="sr-only">Открыть навигацию</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Чистый лист</a>
			</div>
			<div class="collapse navbar-collapse" id="responsive-menu">
				<ul class="nav navbar-nav">
					<li><a href="/addnews/">Добавить новость</a></li>
					<li><a href="/list_news/">Список новостей</a></li>
				{% if user %}
					<li><a href="{% url 'Profile' user.id %}">Мой профиль</a></li>
				{% endif %}
				</ul>
				 <ul class="navbar-form navbar-right hidden-sm">
				 
					{% if user.is_autentificated %}
					<li><a href="/auth/logout/">Выйти ({{ user.username }})</a></li>
					{% else %}
					<form action="" class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control"placeholder="E-mail" value="" id="username">	
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password" value="" id="password">
					</div>
			        {% if login_error %}
				    <label class="error">{{ login_error }}</label>
				    {% endif %}
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-sign-in"></i>Войти
					</button>
					<a href="/auth/registration/" class="btn btn-success">Зарегистрироваться</a>
				</form>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
	  	<div class="row">
			{% block sheet %}{% endblock %}
		</div>
	</div>
	<div class="col-sm-6">
		{% block loginsys %}{% endblock %}
		
	</div>
	{% block sheets %}{% endblock %}
</div>
 <!---->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  </body>
</html>