<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация: Работодатель</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">

  </head>
<body>

	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
				<span class="sr-only">Открыть навигацию</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><img style="max-width:120px; margin-top: -18px; margin-left: 20px;" src="images/logo.jpg" alt=""></a>
			</div>
			<div class="collapse navbar-collapse" id="responsive-menu">
				<ul class="nav navbar-nav">
					<li class="divider-vertical"><a href="#">Пул профилей</a></li>
					<li class="divider-vertical"></li>
					<li><a href="#">Пул проектов</a></li>
					<li><a href="#">Пул работодателей</a></li>	
				</ul>
				<form action="" class="navbar-form navbar-right hidden-sm">
					<div class="form-group">
						<input type="text" class="form-control"placeholder="ЛОГИН" value="">
						
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="ПАРОЛЬ" value="">
					</div>
					<button type="submit" class="btn btn-warning">
						<i class="fa fa-sign-in"></i> ВОЙТИ
					</button>
				</form>
			</div>
		</div>
	</div>
	<div class="container-fluid">
	<div class="row">
		<div class="image">
		<!--<img src="images/микрочип.jpg" style="max-width:1120px; margin-left:-5px; margin-top:-20px;" alt="" />-->
		</div>

	</div>
<div class="container">
  	<div class="row">
	<div class="form-group">
	 <label class="control-label">Имя пользователя:</label>
	 <input type="text" class="form-control">
	 <span class="help-block">Обязательное поле. Не более 30 символов. Только символы, цифры и буквы</span>
	</div>
	<div class="form-group">
	 <label class="control-label">Адрес электронной почты:</label>
	 <input type="text" class="form-control">
	 <span class="help-block">Ваш адрес электронной почты</span>
	</div>
	<div class="form-group">
	 <label class="control-label">Пароль:</label>
	 <input type="text" class="form-control">
	 <span class="help-block">Пароль для авторизации на сайте</span>
	</div>
		<div class="form-group">
	 <label class="control-label">Подтверждение пароля:</label>
	 <input type="text" class="form-control">
	 <span class="help-block">Пароль для авторизации на сайте</span>
	</div>
		<div class="form-group">
	 <label class="control-label">Название компании:</label>
	 <input type="text" class="form-control">
	</div>
		<div class="form-group">
	 <label class="control-label">Сфера деятельности:</label>
	 <input type="text" class="form-control">
	</div>
		<div class="form-group">
	 <label class="control-label">О компании:</label>
	 <input type="text" class="form-control">
	</div>
		<div class="form-group">
	 <label class="control-label">Открытие вакансии:</label>
	 <input type="text" class="form-control">
	</div>
		<button type="submit" class="btn btn-primary">
			Зарегистрироваться
		</button>
</div>
	
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
</body>
</html> 
